name: Deploy website
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Mise en cache des dépendances npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Test code
        run: npm run test


  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du code
        uses: actions/checkout@v4
      - name: Installation des dépendances
        run: npm ci
      - name: Construction du site
        run: npm run build
      - name: Téléversement des artefacts de build
        uses: actions/upload-artifact@v4
        with:
          name: fichiers-site
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Récupération des artefacts du build
        uses: actions/download-artifact@v4
        with:
          name: fichiers-site
      - name: Liste des fichiers téléchargés
        run: ls -l
      - name: Simulation du déploiement
        run: echo "Déploiement des fichiers du site sur le serveur..."